<!DOCTYPE html>
<html lang="en">
<!-- head -->
<app-head></app-head>
<!-- head -->
<body class="bg-gray-200">
  <main class="main-content  mt-0">
    <div class="align-items-start min-vh-100 backgroundImage">
        <div class="row ">
            <img src="../../assets/img/background2top.png">
        </div>
        <div style="text-align: center;color: green;">
            <h3 style="color: green;text-decoration:underline;">إدارة حقوق المنافع العائلية</h3>
        </div>
        <div class="row ">
        <!-- Navbar -->
            <app-nav-bar></app-nav-bar>
        <!-- End Navbar -->
        </div>
    </div>    
  </main>
</body>
<app-footer></app-footer>
</html>