<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body class="bg-white">
  <div class="green-center">
    <img src="/assets/img/drapeau.png">
    <h4>الجمهورية التونسية</h4>
    <h4>الصندوق الوطني للضمان الاجتماعي</h4>
    <img src="/assets/img/logo.png">
  </div>
  <main class="margingTop">
    <div class="col-lg-4 col-md-8 col-12 mx-auto">
      <div class="card custom-border">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
          <div class="green shadow-success py-2 pe-1" style="border-radius: 0.5rem;">
            <h4 class="text-white mb-0">تسجيل الدخول</h4>
          </div>
        </div>
        <div class="card-body">
          <form #f="ngForm">
            <div class="input-group input-group-outline my-3">
              <input class="form-control" placeholder="إسم المستخدم" aria-label="login" type="text" id="login" name="login"
              [(ngModel)]="utilisateur.login">
            </div>
            <div class="input-group input-group-outline mb-3">
              <input class="form-control" placeholder="كلمة السر" aria-label="pwd" type="text" id="pwd" name="pwd"
              [(ngModel)]="utilisateur.pwd">
            </div>
            <div *ngIf="errorMessage" class="alert-container">
              <div class="alert alert-danger" [ngClass]="{'show': errorMessage}">
                {{ errorMessage }}
              </div>
            </div>
            <div class="">
              <button type="submit" class="green border-radius-lg text-white btn w-100 my-4 mb-2" style="font-size: large;" (click)="Check()">دخول</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main><br>
  <!-- footer -->
  <footer class="green-center footer" style="background-color: white;">
    <div class="">
      المقر الاجتماعي : 49 شارع الطيب المهيري - 102 تونس البلفدير - الهاتف:  744 796 71 (216) - الفاكس: 270 782 71 
    </div>
    <div class="">
      Siege Social : 49, Avenue Taieb M'Hiri - 1002 Tunis Belvedere - Tel : (216)  71 769 744 - LG - Fax :71 782 270
      <br>
      Adresse E-mail : cnss.dg@cnss.nat.tn
    </div>
</footer>
  <!-- footer -->
</body>

</html>