<!-- <nav class="navbar navbar-expand-lg blur border-radius-lg top-0 z-index-3 shadow position-absolute my-11 py-2 start-0 end-0 mx-0">
  <div class="container-fluid ps-2 pe-0">
    <div class="collapse navbar-collapse" id="navigation">
      <ul class="navbar-nav d-lg-flex d-none">
        <li class="nav-item d-flex align-items-center">
          <a class="btn btn-outline-success btn-sm mb-0 me-2 green hover border-radius-lg "  target="_blank" href="#">تسجيل حقوق الابناء</a>
        </li>
        <li class="nav-item d-flex align-items-center">
          <a class="btn btn-outline-success btn-sm mb-0 me-2 green hover border-radius-lg " target="_blank" href="#">سجل فتح الحق في الاجر الوحيد</a>
        </li>
        <li class="nav-item d-flex align-items-center">
          <a class="btn btn-outline-success btn-sm mb-0 me-2 green hover border-radius-lg" target="_blank" href="#">تدوين مبلغ الدين</a>
        </li>
        <li class="nav-item d-flex align-items-center">
          <a class="btn btn-outline-success btn-sm mb-0 me-2 green hover border-radius-lg" target="_blank" href="#">اعادة توزيع الحوالات</a>
        </li>
        <li class="nav-item d-flex align-items-center">
          <a class="btn btn-outline-success btn-sm mb-0 me-2 green hover border-radius-lg" target="_blank" href="#">تدوين الشخص الحاضن</a>
        </li>
      </ul>
    </div>
    <a class="navbar-brand font-weight-bolder ms-lg-0 ms-3 green"  style="text-decoration: underline;" href="#" >خروج </a>
  </div>
</nav> -->


<nav class="navbar navbar-expand-lg blur border-radius-lg shadow position-absolute py-2 start-0 end-0 mx-0">
  <div class="container-fluid ps-2 pe-0">
    <div class="collapse navbar-collapse" id="navigation">
      <ul class="navbar-nav d-lg-flex d-none">
        <li class="nav-item d-flex align-items-center">
          <a class="btn btn-outline-success btn-sm mb-0 me-2 green hover border-radius-lg "  target="_blank" >تسجيل حقوق الابناء</a>
        </li>
        <li class="nav-item d-flex align-items-center">
          <a class="btn btn-outline-success btn-sm mb-0 me-2 green hover border-radius-lg " target="_blank" >فتح الحقوق في الاجر الوحيد</a>
        </li>
        <li class="nav-item d-flex align-items-center">
          <a class="btn btn-outline-success btn-sm mb-0 me-2 green hover border-radius-lg" target="_blank" >تدوين الشخص الحاضن</a>
        </li>
        <li class="nav-item d-flex align-items-center">
          <a class="btn btn-outline-success btn-sm mb-0 me-2 green hover border-radius-lg" target="_blank" >فتح الحقوق للأرامل</a>
        </li>
        <li class="nav-item d-flex align-items-center">
          <a class="btn btn-outline-success btn-sm mb-0 me-2 green hover border-radius-lg" target="_blank" >تدوين العمال المفصولين لأسباب اقتصادية</a>
        </li>
        <li class="nav-item d-flex align-items-center">
          <a class="btn btn-outline-success btn-sm mb-0 me-2 green hover border-radius-lg" target="_blank" >تدوين مبلغ الدين</a>
        </li>
        <li class="nav-item d-flex align-items-center">
          <a class="btn btn-outline-success btn-sm mb-0 me-2 green hover border-radius-lg" target="_blank" >اعادة توزيع الحوالات</a>
        </li>
      </ul>
    </div>
    <a class="navbar-brand font-weight-bolder ms-lg-0 ms-3 green"  style="text-decoration: underline;"  >خروج </a>
  </div>
</nav>