
<nav class="navbar navbar-expand-lg blur border-radius-lg ">
  <div class="container-fluid ps-2 pe-0">
    <div class="collapse navbar-collapse" id="navigation">
      <ul class="navbar-nav d-lg-flex d-none">
        <li class="nav-item d-flex align-items-center">
          <a class="btn btn-outline-success btn-sm mb-0 me-2 greenText hover border-radius-lg "  target="_blank" >تسجيل حقوق الابناء</a>
        </li>
        <li class="nav-item d-flex align-items-center">
          <a class="btn btn-outline-success btn-sm mb-0 me-2 greenText hover border-radius-lg " target="_blank" >فتح الحقوق في الاجر الوحيد</a>
        </li>
        <li class="nav-item d-flex align-items-center">
          <a class="btn btn-outline-success btn-sm mb-0 me-2 greenText hover border-radius-lg" target="_blank" >تدوين الشخص الحاضن</a>
        </li>
        <li class="nav-item d-flex align-items-center">
          <a class="btn btn-outline-success btn-sm mb-0 me-2 greenText hover border-radius-lg" target="_blank" >فتح الحقوق للأرامل</a>
        </li>
        <li class="nav-item d-flex align-items-center">
          <a class="btn btn-outline-success btn-sm mb-0 me-2 greenText hover border-radius-lg" target="_blank" >تدوين العمال المفصولين لأسباب اقتصادية</a>
        </li>
        <li class="nav-item d-flex align-items-center">
          <a class="btn btn-outline-success btn-sm mb-0 me-2 greenText hover border-radius-lg" target="_blank" >تدوين مبلغ الدين</a>
        </li>
        <li class="nav-item d-flex align-items-center">
          <a class="btn btn-outline-success btn-sm mb-0 me-2 greenText hover border-radius-lg" target="_blank" >اعادة توزيع الحوالات</a>
        </li>
      </ul>
    </div>
    <a class="navbar-brand font-weight-bolder ms-lg-0 ms-3 greenText"  style="text-decoration: underline;"  >خروج </a>
  </div>
</nav>