<!DOCTYPE html>
<html lang="en">
<!-- head -->
<app-head></app-head>
<!-- head -->
<body class="bg-gray-200">
  <main class="main-content  mt-0">
    <div class="align-items-start min-vh-100 backgroundImage">
      <div class="row ">
          <img src="../../assets/img/background2top.png">
      </div>
      <div style="text-align: center;color: green;">
          <h3 style="color: green;text-decoration:underline;">إدارة حقوق المنافع العائلية</h3>
      </div>
      <div class="row ">
      <!-- Navbar -->
          <app-nav-bar></app-nav-bar>
      <!-- End Navbar -->
      </div>
      <div class="page-header min-vh-80">
        <div class="container ">
          <div class="row ">
            <div class="col-lg-12 d-flex justify-content-center flex-column">
              <div class="card d-flex blur justify-content-center p-4 shadow-lg my-sm-0 my-sm-6 mt-8 mb-5">
                <form id="contact-form" method="post" autocomplete="off">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-3">
                        <label>الإسم</label>
                        <div class="input-group mb-2">
                          <input class="form-control" placeholder="الإسم" aria-label="Full Name" type="text" style="border: 0.001mm solid green;">
                        </div>
                      </div>
                      <div class="col-md-3 ps-md-2">
                        <label>اللقب</label>
                        <div class="input-group">
                          <input type="email" class="form-control" placeholder="اللقب" type="text" style="border: 0.001mm solid green;">
                        </div>
                      </div>
                      <div class="col-md-3 ps-md-2">
                        <label>تاريخ الولادة</label>
                        <div class="input-group">
                          <input type="email" class="form-control" placeholder="تاريخ الولادة" type="text" style="border: 0.001mm solid green;">
                        </div>
                      </div>
                      <div class="col-md-3 ps-md-2">
                        <label>الجنس</label>
                        <div class="input-group">
                          <input type="email" class="form-control" placeholder="الجنس" type="text" style="border: 0.001mm solid green;">
                        </div>
                      </div>
                      <div class="col-md-3 ps-md-2">
                        <label>البريد الإلكتروني</label>
                        <div class="input-group">
                          <input type="email" class="form-control" placeholder="البريد الإلكتروني" type="text" style="border: 0.001mm solid green;">
                        </div>
                      </div>
                      <div class="col-md-3 ps-md-2">
                        <label>الهاتف</label>
                        <div class="input-group">
                          <input type="email" class="form-control" placeholder="الهاتف" type="text" style="border: 0.001mm solid green;">
                        </div>
                      </div>
                      <div class="col-md-3 ps-md-2">
                        <label>العنوان</label>
                        <div class="input-group">
                          <input type="email" class="form-control" placeholder="العنوان" type="text" style="border: 0.001mm solid green;">
                        </div>
                      </div>
                      <div class="col-md-3 ps-md-2">
                        <label>الترقيم البريدي</label>
                        <div class="input-group">
                          <input type="email" class="form-control" placeholder="الترقيم البريدي" type="text" style="border: 0.001mm solid green;">
                        </div>
                      </div>
                      <div class="col-md-3 ps-md-2">
                        <label>صاحب الحساب</label>
                        <div class="input-group">
                          <input type="email" class="form-control" placeholder="صاحب الحساب" type="text" style="border: 0.001mm solid green;">
                        </div>
                      </div>
                      <div class="col-md-3 ps-md-2">
                        <label>المفتاح</label>
                        <div class="input-group">
                          <input type="email" class="form-control" placeholder="المفتاح" type="text" style="border: 0.001mm solid green;">
                        </div>
                      </div>
                      <div class="col-md-3 ps-md-2">
                        <label>-----</label>
                        <div class="input-group">
                          <input type="email" class="form-control" placeholder="-----" type="text" style="border: 0.001mm solid green;">
                        </div>
                      </div>
                      <div class="col-md-3 ps-md-2">
                        <label>-----</label>
                        <div class="input-group">
                          <input type="email" class="form-control" placeholder="-----" type="text" style="border: 0.001mm solid green;">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 text-center">
                        <button type="submit" class="btn bg-gradient-success mt-3 mb-0 bolder">تَأْكيد</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>    
  </main>
</body>
<app-footer></app-footer>
</html>