<!DOCTYPE html>
<html lang="en">
<!-- head -->
<app-head></app-head>
<!-- head -->
<body class="bg-gray-200">
  <main class="main-content  mt-0">
    <div class="align-items-start min-vh-100 backgroundImage">
        <!-- Navbar -->
        <!-- End Navbar -->
        <div class="row ">
        <img src="../../assets/img/background2top.png">
        </div>
        <div class="col-xl-12" style="padding-right: 25%;padding-top: 4%;">
            <div class="row">
                <div class="col-md-4 col-6">
                  <div class="card">
                    <div class="card-header mx-4 p-3 text-center">
                      <div class="icon icon-shape icon-lg bg-gradient-success shadow text-center border-radius-lg">
                        <i class="material-icons opacity-10">account_balance</i>
                      </div>
                    </div>
                    <div class="card-body pt-0 p-3 text-center">
                      <h6 class="text-center mb-0 bolder">إدارة حقوق المنافع العائلية</h6>
                      <span class="text-xs">Gestion des droits aux prestations familiales</span>
                      <hr class="horizontal dark my-3">
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-6">
                  <div class="card">
                    <div class="card-header mx-4 p-3 text-center">
                      <div class="icon icon-shape icon-lg bg-gradient-success shadow text-center border-radius-lg">
                        <i class="material-icons opacity-10">person</i>
                      </div>
                    </div>
                    <div class="card-body pt-0 p-3 text-center">
                      <h6 class="text-center mb-0 bolder">توفير الحقوق لحساب المنافع العائلية</h6>
                      <span class="text-xs">Prise en charge des droits pour le décompte des prest. famil</span>
                      <hr class="horizontal dark my-3">
                    </div>
                  </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4 col-6">
                  <div class="card">
                    <div class="card-header mx-4 p-3 text-center">
                      <div class="icon icon-shape icon-lg bg-gradient-success shadow text-center border-radius-lg">
                        <i class="material-icons opacity-10">account_balance_wallet</i>
                      </div>
                    </div>
                    <div class="card-body pt-0 p-3 text-center">
                      <h6 class="text-center mb-0 bolder">تفويض المنافع العائلية</h6>
                      <span class="text-xs">Mandatement des prestations familiales</span>
                      <hr class="horizontal dark my-3">
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-6">
                  <div class="card">
                    <div class="card-header mx-4 p-3 text-center">
                      <div class="icon icon-shape icon-lg bg-gradient-success shadow text-center border-radius-lg">
                        <i class="material-icons opacity-10">weekend</i>
                      </div>
                    </div>
                    <div class="card-body pt-0 p-3 text-center">
                      <h6 class="text-center mb-0 bolder">الأعمال الفصلية والسنوية</h6>
                      <span class="text-xs">Travaux trimestriels et annuels</span>
                      <hr class="horizontal dark my-3">
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>    
  </main>
</body>
<app-footer></app-footer>
</html>