<!DOCTYPE html>
<html lang="en">
<!-- head -->
<app-head></app-head>
<!-- head -->
<body class="F5F3E5">
  <main class="">
    <div class="">
        <div class="entete">
          <div class="left-div">
            <p><img src="/assets/img/drapeau.png"> الجمهورية التونسية <br> الصندوق الوطني للضمان الاجتماعي
            <br><img src="/assets/img/logo.gif"></p>
          </div>
          <div class="middle-div">
            <br><br>
            <h3 class="greenText">المنافع العائلية</h3>
            <h3 class="greenText">صفحة الاستقبال</h3>
          </div>
          <div class="right-div">
            <br><br><br><br>
            <h6 class="greenText">current user info</h6>
          </div>
        </div>
        <div class="space"></div>
        <div>
        <!-- Navbar -->
            <app-nav-bar></app-nav-bar>
        <!-- End Navbar -->
        </div>
        <div class="space"></div>
        <div>
            <div class="">
                        <form>
                            <div class="">
                                <div class="">
                                    <label class="">رقم المضمون الاجتماعي</label>
                                    <input>
                                    <label class="" style="margin-right:10px">المفتاح</label>
                                    <input>
                                    <button><span class="ui-button-text ui-c">بحث</span></button>
                                    <button><span class="ui-button-text ui-c">إلغاء</span></button>
                                </div>
                            </div>
                        </form>
                    </div>
        </div>
        <div class="space"></div>
        <div>
            <table>
              <tbody>
                  <tr class="" role="row">
                      <td role="" class="" style="width:20%">
                          <label class="">المعرف الوحيد</label>
                      </td>
                      <td role="" class="" style="width:80%">
                          <label class="">xxxxxx</label>
                      </td>
                  </tr>
                  <tr class="" role="row">
                      <td role="" class="" style="width:20%">
                          <label class="">الهوية</label>
                      </td>
                      <td role="" class="" style="width:80%">
                          <label class="">xxxxxx</label>
                      </td>
                  </tr>
                  <tr class="" role="row">
                      <td role="" class="">
                          <label class="">العنوان</label>
                      </td>
                      <td role="" class="">
                          <label class="">xxxxxx</label>
                      </td>
                  </tr>
              </tbody>
          </table>
        </div>
        <div class="space"></div>
    </div>    
  </main>
</body>
<app-footer></app-footer>
</html>