<html>
<app-head></app-head>

<body class="g-sidenav-show">
  <div style="background-image: url('../../assets/img/head.png');">
    <h3 class="green" style="text-align: center;padding-top: 4%;">المنافع العائلية</h3>
    <h3 class="green" style="text-align: center;padding-bottom: 2%;">تسجيل حقوق الابناء</h3>
  </div>
  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <!-- Navbar -->
    <div>
    <app-nav-bar></app-nav-bar>
    </div>
    <!-- End Navbar -->
    <div class="container-fluid py-4">
      <div class="row">
        <br>
      </div>
      <div >
        xxx
        <div class="container-fluid py-1 px-3">
        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
          <div class="ms-md-auto pe-md-3 d-flex align-items-center">
            <div class="input-group input-group-outline">
              <label class="form-label">Type here...</label>
              <input type="text" class="form-control">
            </div>
          </div>
          <ul class="navbar-nav  justify-content-end">
            <li class="nav-item d-flex align-items-center">
              <a class="btn btn-outline-primary btn-sm mb-0 me-3" target="_blank" href="https://www.creative-tim.com/builder?ref=navbar-material-dashboard">Online Builder</a>
            </li>
          </ul>
        </div>
      </div>
xxx
      </div>
      <div class="row mt-4">
        <div class="row">
        <div class="col-12" style="padding-right: 2%;padding-left: 0%;">
          <div class="card my-2"  style="background-color: #f5f3e5;">
            <div class="card-body px-2 pb-2 shadow blur ">
              <div class="table-responsive p-0 ">
                <table class="table align-items-center justify-content-center mb-0 ">
                    <tr>
                      <th class="text-uppercase green " style="width: 10%;">Project</th>
                      <th  style="width: 10%;">Project</th>
                    </tr>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Project</th>
                      <th style="width: 10%;">Project</th>
                    </tr>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Project</th>
                      <th style="width: 10%;">Project</th>
                    </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </main>
</body>
<app-footer></app-footer>
</html>