<div class="space"></div>
<div class="greenText">
    <form>
        <div class="center">
            <label class="padding">رقم المضمون الاجتماعي</label>
            <input class="border-radius-lg">
            <label class="padding">المفتاح</label>
            <input class="border-radius-lg ">
            <button class="btn greenText">بحث</button>
            <button class="btn greenText">إلغاء</button>
        </div>
    </form>
</div>
<div class="space"></div>
<div>
    <table> 
        <tbody>
            <tr>
                <td class="tdTab">
                    <label class="greenText">المعرف الوحيد</label>
                </td>
                <td>
                    <label></label>
                </td>
            </tr>
            <tr>
                <td class="tdTab">
                    <label class="greenText">الهوية</label>
                </td>
                <td>
                    <label></label>
                </td>
            </tr>
            <tr>
                <td class="tdTab">
                    <label class="greenText">العنوان</label>
                </td>
                <td class="">
                    <label></label>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="space"></div>
<table>
    <thead>
        <tr>
            <th class="th2">المعرف الوحيد</th>
            <th class="th2">اللقب</th>
            <th class="th2">الأسم</th>
            <th class="th2">تاريخ الميلاد</th>
            <th class="th2">الرتبة</th>
            <th class="th2">رمز</th>
            <th class="th2">الحق في المنافع</th>
            <th class="th2">رمز الوثيقة</th>
            <th class="th2">بداية الانتفاع</th>
            <th class="th2">نهاية الانتفاع</th>
            <th class="th2"></th>
        </tr>
    </thead>
    <tbody>
        <tr class="">
            <td colspan="11">القائمة فارغة</td>
        </tr>
    </tbody>
</table>