<div class="space"></div>
<div class="greenText">
    <form #f1="ngForm">
        <div class="center">
            <label class="padding">رقم المضمون الاجتماعي</label>
            <input class="border-radius-lg" aria-label="assMat" type="text" id="assMat" name="assMat"
            [(ngModel)]="assMat">
            <label class="padding">المفتاح</label>
            <input class="border-radius-lg" aria-label="assCle" type="text" id="assCle" name="assCle"
            [(ngModel)]="assCle">
            <button class="btn greenText" type="submit" (click)="search(assMat,assCle)">بحث</button>
            <button class="btn greenText" type="submit" (click)="cancel()">إلغاء</button>
        </div>
        <div *ngIf="errorMessage" class="alert-container">
            <div class="alert alert-danger" [ngClass]="{'show': errorMessage}">
            {{ errorMessage }}
            </div>
        </div>
    </form>
</div>
<div class="space"></div>
<div>
    <table class="custom-table"> 
        <tbody>
            <tr>
                <td class="greenText tdTab">المعرف الوحيد</td>
                <td class="">{{vassure.assIu}}</td>
            </tr>
            <tr>
                <td class="greenText tdTab">الهوية</td>
                <td class="">{{vassure.assNom}} {{vassure.assPrenom}}</td>
            </tr>
            <tr>
                <td class="greenText tdTab">العنوان</td>
                <td class="">{{vassure.adresse}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="space"></div>
<table class="custom">
    <thead>
        <tr>
            <th class="thMedium">المعرف الوحيد</th>
            <th class="thMedium">اللقب</th>
            <th class="thMedium">الأسم</th>
            <th class="thDate">تاريخ الميلاد</th>
            <th class="thSmall">الرتبة</th>
            <th class="thMedium">الرمز</th>
            <th class="thLarge">الوثيقة</th>
            <th class="thLarge">الحق في المنافع</th>
            <th class="thDate">بداية الانتفاع</th>
            <th class="thDate">نهاية الانتفاع</th>
            <th class="thSmall"></th>
        </tr>
    </thead>
    <tbody *ngIf="found == true; else emptyRow">
        <ng-container *ngFor="let c of listVueAf; let i = index">
            <tr [class.oddRow]="i % 2 === 0" [class.evenRow]="i % 2 !== 0">
                <td class="centerBlack" (click)="toggleAccordion(c.benIduCnss)">{{c.benIduCnss}}</td>
                <td class="centerBlack" (click)="toggleAccordion(c.benIduCnss)">{{c.benNom}}</td>
                <td class="centerBlack" (click)="toggleAccordion(c.benIduCnss)">{{c.benPrenom}}</td>
                <td class="centerBlack" (click)="toggleAccordion(c.benIduCnss)">{{c.benDtnais}}</td>
                <td class="centerBlack" (click)="toggleAccordion(c.benIduCnss)">{{c.rangBen}}</td>
                <td class="centerBlack" (click)="toggleAccordion(c.benIduCnss)">{{c.compte}}</td>
                <td class="centerBlack" (click)="toggleAccordion(c.benIduCnss)">{{c.docBen}}</td>
                <td class="centerBlack" (click)="toggleAccordion(c.benIduCnss)">{{c.droit}}</td>
                <td class="centerBlack" (click)="toggleAccordion(c.benIduCnss)">{{c.dateDB}}</td>
                <td class="centerBlack" (click)="toggleAccordion(c.benIduCnss)">{{c.dateFin}}</td>
                <td class="centerBlack">
                    <a class="btn-outline-success" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="openModal(c.benIduCnss)">
                        <i class="bi bi-search"></i>
                    </a>
                </td>
            </tr>
            <tr *ngIf="activeAccordion === c.benIduCnss">
                <td colspan="9">
                    <table class="customAccordion">
                        <tr>
                            <th>الرتبة</th>
                            <th>الثلاثية</th>
                            <th>السنة</th>
                            <th>رمز المضمون</th>
                            <th>الاجر الوحيد</th>
                            <th colspan="5">الحق في المنافع</th>
                            <th>عدد الأيام</th>
                        </tr>
                        <tr *ngFor="let m of listMvts">
                            <td>{{ m.rangAf }}</td>
                            <td>{{ m.id.trim }}</td>
                            <td>{{ m.id.annee }}</td>
                            <td>{{ m.compte }}</td>
                            <td>{{ m.salUnique }}</td>
                            <td colspan="5">{{ m.droitAf }}</td>
                            <td>{{ m.nbJour }}</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </ng-container>
    </tbody>
    <ng-template #emptyRow>
        <tbody>
            <tr>
                <td colspan="11">القائمة فارغة</td>
            </tr>
        </tbody>
    </ng-template>
</table>

<!-- modal -->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">تسجيل حقوق الابناء</h1>
        <button type="button" class="btn-close" style="order: 1;margin-left: 0;margin-right: 15px;" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #f2="ngForm">
            <div>
                <table class="custom-table"> 
                    <tbody>
                        <tr>
                            <td class="ModalTab">المعرف الوحيد</td>
                            <td class="">{{beneficiaire.benIduCnss}}</td>
                        </tr>
                        <tr>
                            <td class="ModalTab">الأسم</td>
                            <td class="">{{beneficiaire.benPrenom}}</td>
                        </tr>
                        <tr>
                            <td class="ModalTab">اللقب</td>
                            <td class="">{{beneficiaire.benNom}}</td>
                        </tr>
                        <tr>
                            <td class="ModalTab">تاريخ الميلاد</td>
                            <td class="">{{beneficiaire.benDtnais}}</td>
                        </tr>
                        <tr>
                            <td class="ModalTab">الرتبة</td>
                            <td class="">
                                {{beneficiaire.rangBen}}
                            </td>
                        </tr> 
                        <tr>
                            <td class="ModalTab">المضمون</td>
                            <td class="">
                                {{beneficiaire.compte}}
                            </td>
                        </tr>
                        <tr>
                            <td class="ModalTab">الوثيقة</td>
                            <td class="">
                                <select class="form-select" aria-label="Default select example" [(ngModel)]="beneficiaire.docBen" name="docBen" (ngModelChange)="updateListDroits($event)">
                                    <option *ngFor="let l of listDocumentLibelles" [ngValue]="l">{{l}}</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="ModalTab">الحق في المنافع</td>
                            <td class="">    
                                <select class="form-select" aria-label="Default select example" [(ngModel)]="beneficiaire.droit" name="droit">
                                    <option *ngFor="let d of listDroits" [value]="d">{{d}}</option>
                                </select>
                            </td>
                        </tr>
                        <!-- <tr>
                            <td class="ModalTab">بداية الانتفاع</td>
                            <td class=""><input class="border-radius-lg" aria-label="assCle" type="date" id="assCle" name="assCle" [(ngModel)]="beneficiaire.dateDB"></td>
                        </tr>
                        <tr>
                            <td class="ModalTab">نهاية الانتفاع</td>
                            <td class=""><input class="border-radius-lg" aria-label="assCle" type="date" id="assCle" name="assCle" [(ngModel)]="beneficiaire.dateFin"></td>
                        </tr> -->
                    </tbody>
                </table>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" (click)="update()" data-bs-dismiss="modal" class="btn btn-outline-success greenText hover border-radius-lg" style="margin: 0 auto;display: block;">تأكيد</button>
      </div>
    </div>
  </div>
</div>

            