html{
	direction: rtl;
  background-color: #DEDCCF;
}

.green-center {
    text-align: center;
    color: #005B37;
}

.center {
    text-align: center;
    color: #005B37;
}

.right {
    text-align: right;
    color: #005B37;
}

.right-div {
    padding-left: 2%;
}

.left-div {
    padding-right: 2%;
}

.middle-div {
    font-weight: bolder;
}

.greenText {
    color: #005B37;
    font-size: medium;
    font-weight: 500;
}

.green {
    text-align: center;
    color: white;
    background-color: #005B37;
}

.custom-border {
    border: 2px solid #005B37;
 }

 .border-radius-lg {
  border-radius: 0.5rem;
}

.form-label {
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  font-weight: 400;
  color: #d30202;
  position: absolute;
  top: 0.6125rem;
  margin-left: 0;
  transition: 0.2s ease all;
}

.margingTop {
    top: 50%;
    padding: 50px;
}

.footer {
    margin-top: auto;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
}

.entete {
    background-image: url("/assets/img/head.png");
    background-size: 100% auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.F5F3E5 {
  background-color: #F5F3E5;
}

.FAFAF4 {
  background-color: #FAFAF4;
}

.space {
  height: 8px;
  background-color: #F5F3E5;
}

.padding {
    padding-right: 2%;
    padding-left: 2%;
}

.tdTab {
    width: 250px;
    padding-right: 10%;
}

th {
    width: 200px;
    padding-right: 2%;
}

.th2 {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #005B37;
    color: white;
}


